/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

h1 {
  font-family: "Lato", sans-serif;
}

.container.about h1,
.container.products h1,
.container.contact h1 {
  margin-bottom: 50px;
  font-size: 2.5em;
  letter-spacing: 2px;
  font-weight: 500;
  color: #6d4c2f;
}

.section {
  padding: 70px 0px;
  min-height: 100vh;
  opacity: 1;
  transition: opacity 0.5s ease;
}

/* Nav */
nav {
  position: sticky;
  z-index: 1000;
  top: 0;
}
nav .container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid black;
  font-family: "Roboto", serif;
}

.container .nav {
  font-size: 1.4em;
  letter-spacing: 1px;
}

.container .nav-logo .nav-logo-img {
  margin-top: 5px;
  width: 70px;
  margin-left: 10px;
}

.container .nav-menu .nav-menu-ul {
  display: flex;
  margin-right: 30px;
}
.container .nav-menu .nav-menu-ul li {
  list-style: none;
  margin-top: 10px;
  margin-left: 40px;
  transition: border-bottom 0.2s;
}

.container .nav-menu .nav-menu-ul li a {
  text-decoration: none;
  color: #6d4c2f;
}

.container .nav-menu .nav-menu-ul li:hover {
  border-bottom: 3px solid #6d4c2f;
}

.container .menu-toggle {
  display: none;
}

/* Akhir Nav */

/*Home */

main .container.benner-utama .img-benner-utama {
  max-width: 100%;
  /* background-size: 100vw; */
  background-size: cover;
}

/* Akhir Home */

/* About */

.container.about {
  margin: auto;
  width: 65%;
}

.container.about .dropdown-1 .drop-btn .btn {
  background-color: white;
  border-radius: 5px;
  border-color: #6d4c2f;
  border-width: 1px;
  width: 100%;
  padding: 15px;
  text-align: left;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.container.about .dropdown-1 .drop-btn .btn:hover {
  border-width: 3px;
}

.container.about .dropdown-1 .drop-btn .btn:focus {
  background-color: rgb(163, 140, 91);
  color: white;
}

.container.about .dropdown-1 .drop-btn .btn h2 {
  font-weight: 400;
  font-family: "Roboto", serif;
  color: #6d4c2f;
}

.container.about .dropdown-1 .drop-content {
  border: 1px solid #6d4c2f;
  border-radius: 5px;
  display: none;
}

.container.about .dropdown-1 .drop-content h2 {
  font-weight: 400;
  padding: 20px;
  color: #6d4c2f;
  font-family: "Roboto", serif;
}

/* Akhir About */

/* Awal Products */
.container.products {
  margin-top: -240px;
  margin-left: 20px;
}

.container.products .product-content {
  margin: 28px;
  display: flex;
  justify-content: space-around;
}

/* Akhir Products */

/* Awal Contact */

/* .container.contact {
  display: none;
} */

.container.contact h1 {
  text-align: center;
}

.container.contact .div-contact {
  display: flex;
  justify-content: space-evenly;
}
.container.contact .div-contact .contact-form {
  width: 40%;
}
.container.contact .div-contact .contact-form label {
  color: #6d4c2f;
  font-size: 1.2em;
  margin-bottom: 10px;
  margin-top: 20px;
  display: inline-block;
}

.container.contact .div-contact .contact-form input,
.container.contact .div-contact .contact-form textarea {
  color: #6d4c2f;
  width: 97%;
  padding: 8px;
  border-radius: 8px;
  font-size: medium;
  border: 1px solid #6d4c2f;
}

.container.contact .div-contact .contact-form textarea {
  font-size: large;
}

.container.contact .div-contact .contact-form input:focus,
.container.contact .div-contact .contact-form textarea:focus {
  border: 4px solid #d6baa2;
  outline: none;
}

.container.contact .div-contact .contact-form button {
  background-color: #6d4c2f;
  margin-left: 1px;
  margin-top: 10px;
  color: white;
  width: 100%;
  padding: 8px;
  border-radius: 7px;
  font-size: medium;
  border: 1px solid #6d4c2f;
}

.container.contact .div-contact .contact-me {
  width: 40%;
  margin-right: -120px;
}

.container.contact .div-contact .contact-me .me {
  display: flex;
  width: 90%;
  margin-left: 20px;
  margin-top: 40px;
}

.container.contact .div-contact .contact-me .me .content-text {
  margin-left: 30px;
}
.container.contact .div-contact .contact-me .me .content-text h5 {
  font-size: 1em;
  letter-spacing: 1px;
  color: #6d4c2f;
  font-weight: 400;
  font-family: "Roboto", serif;
}

.container.contact .div-contact .contact-me .me .content-text p {
  font-size: 1em;
  letter-spacing: 1px;
  color: #6d4c2f;
  font-weight: 400;
  font-family: "Roboto", serif;
  opacity: 0.7;
  margin-top: 11px;
}

/* Akhir Contact */

/* Awal Footer */
.container.footer {
  background-color: #6d4c2f;
  padding: 20px;
}
.container.footer h3 {
  font-size: 1em;
  letter-spacing: 1px;
  color: white;
  font-weight: 400;
  font-family: "Roboto", serif;
  text-align: center;
}

/* Akhir Footer */

@media screen and (max-width: 576px) {
  /* Awal Nav */
  .container .nav-menu .nav-menu-ul {
    display: none;
    opacity: 0;
  }

  .container .nav-menu .nav-menu-ul li {
    margin-top: 30px;
  }

  .container .nav-menu .nav-menu-ul li:nth-child(1) {
    margin-top: 40px;
  }

  .container .nav-menu .nav-menu-ul li:nth-child(4) {
    margin-bottom: 20px;
  }

  .container .nav-menu .nav-menu-ul.slide {
    display: flex;
    flex-direction: column;
    opacity: 1;
  }

  .container .menu-toggle {
    display: block;
  }

  /* Akhir Nav */

  /* Awal  About */

  .container.about {
    width: 100%;
    margin-inline: 5px;
    margin-top: -500px;
  }

  /* Akhir About */

  /* Awal Products */
  .container.products {
    margin-top: -140px;
    margin-left: 10px;
  }

  .container.products .product-content {
    margin: 28px;
    flex-wrap: wrap;
  }

  .container.products .product-content img {
    width: 250px;
  }
  /* Akhir Product */

  /* Awal Contact*/

  .container.contact .div-contact{
    display: flex;
    flex-wrap: wrap;
  }

  .container.contact .div-contact .contact-form {
    width: 100%;
    margin: 20px;
  }
  
  .container.contact .div-contact .contact-me {
    width: 100%;
    margin: 20px;
  }
  
  /* Akhir Contact */
}

@media screen and (min-width: 576px) and (max-width: 776px) {
  /* Awal Nav */
  .container .nav-menu .nav-menu-ul {
    display: none;
    opacity: 0;
  }

  .container .nav-menu .nav-menu-ul li {
    margin-top: 30px;
  }

  .container .nav-menu .nav-menu-ul li:nth-child(1) {
    margin-top: 40px;
  }

  .container .nav-menu .nav-menu-ul li:nth-child(4) {
    margin-bottom: 20px;
  }

  .container .nav-menu .nav-menu-ul.slide {
    display: flex;
    flex-direction: column;
    opacity: 1;
  }

  .container .menu-toggle {
    display: block;
  }

  /* Akhir Nav */

  /* Awal  About */

  .container.about {
    margin-top: -100px;
    width: 90%;
  }

  /* Akhir About */

  /* Awal Products */
  .container.products {
    margin-top: -140px;
    margin-left: 10px;
  }

  .container.products .product-content {
    margin: 28px;
    flex-wrap: wrap;
  }

  .container.products .product-content img {
    width: 250px;
  }
  /* Akhir Product */

   /* Awal Contact*/

   .container.contact .div-contact{
    display: flex;
    flex-wrap: wrap;
  }

  .container.contact .div-contact .contact-form {
    width: 100%;
    margin: 20px;
  }
  
  .container.contact .div-contact .contact-me {
    width: 100%;
    margin: 20px;
  }
  
  /* Akhir Contact */

  
}


@media screen and (min-width: 776px) and (max-width: 992px) { 

   /* Awal Products */
   .container.products {
    margin-top: -140px;
    margin-left: 20px;
  }

  .container.products .product-content {
    margin: 28px;
    flex-wrap: wrap;
  }
  
  /* Akhir Product */

     /* Awal Contact*/

     .container.contact .div-contact{
      display: flex;
      flex-wrap: wrap;
    }
  
    .container.contact .div-contact .contact-form {
      width: 100%;
      margin: 20px;
    }
    
    .container.contact .div-contact .contact-me {
      width: 100%;
      margin: 20px;
    }
    
    /* Akhir Contact */

}


@media screen and (min-width: 992px) and (max-width: 1200px) { 

   /* Awal Products */
   .container.products {
    margin-top: -140px;
    margin-left: 20px;
  }

  .container.products .product-content {
    margin: 28px;
    flex-wrap: wrap;
  }

  /* Akhir Product */

}